# This is a template file. Copy this to key.properties and fill in your values.
# DO NOT commit key.properties to version control!

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=../app/upload-keystore.jks

